.component-primary-button,
.component-primary-button-loading {
  @include flex-center;
  width: 100%;
  max-width: $MOBILE-VIEW;
  height: 2.5rem;
  background-color: $black;
  color: $WHITE;
  border-radius: $BORDER-RADIUS;
  border: 0.2em solid $black;
  gap: 0.5em;
  cursor: pointer;

  &:hover {
    outline: 0.3em solid $GREY;
  }
}

.component-primary-button-lading {
  background-color: $GREY-dark;
}

.component-secondary-button,
.component-secondary-button-icon-only {
  @include flex-center;
  width: 100%;
  background-color: transparent;
  border: 0.1em solid $black;
  color: $black;
  border-radius: $BORDER-RADIUS;
  padding: 0.4em;
  cursor: pointer;
  gap: 0.5em;

  &:hover {
    outline: 0.2em solid $GREY;
  }

  &-icon-only {
    padding: 0.4em 0.4em;
    width: 40px;
  }
}
