.component-primary-button,
.component-primary-button-loading {
  @include flex-center;
  width: 100%;
  max-width: $mobile-view;
  height: 2.5rem;
  background-color: $black;
  color: $white;
  border-radius: $border-radius;
  border: 0.2em solid $black;
  gap: 0.5em;
  cursor: pointer;

  &:hover {
    outline: 0.3em solid $gray;
  }
}

.component-primary-button-lading {
  background-color: $gray-dark;
}

.component-secondary-button,
.component-secondary-button-icon-only {
  @include flex-center;
  width: 100%;
  background-color: transparent;
  border: 0.1em solid $black;
  color: $black;
  border-radius: $border-radius;
  padding: 0.4em;
  cursor: pointer;
  gap: 0.5em;

  &:hover {
    outline: 0.2em solid $gray;
  }

  &-icon-only {
    padding: 0.4em 0.4em;
    width: 40px;
  }
}
