.auth-layout-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-gradient;
}

.auth-header-image {
  margin-bottom: 1.5em;
}

.auth-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: 0 10px 15px -3px #0000001a;
}

.auth-layout-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 20rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.auth-form input {
  width: 20rem;
  height: 3rem;
  border: none;
  border-radius: 0;
  border-bottom: 0.1em solid $gray-dark;
  background-color: $gray;
  padding: 0 8px;
}

.auth-footer-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.auth-divider-or {
  margin: 12px;
  color: $gray-dark;
  font-size: 0.9em;
}

@media screen and (width <= $mobile-view) {
  .auth-layout-container {
    width: 100vw;
    height: 100vh;
  }

  .auth-form input {
    width: 90vw;
  }
}
