.profile-picture {
  width: 3.8rem;
  height: 3.8em;
  border-radius: 0.9em;
  border: 0.2em solid $gray;
}

.all-project-header {
  max-width: 35rem;
  margin: 0 auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-count {
  color: $gray-dark;
  font-size: 0.7em;
  text-align: $font-weight-light;
}

.project-board {
  max-width: 35rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-board-task {
  width: 100%;
  border-radius: 0.9em;
  padding: 1rem;
}

.project-board-task a {
  display: block;
}

.task-status {
  display: grid;
  grid-template-columns: 1.5rem auto;
  grid-template-rows: auto auto;
  gap: 0.2rem 1rem;
  margin-top: 1rem;
  height: 2.5em;
}

.task-status span {
  content: "";
  color: $white;
  font-size: 0.7em;
  text-align: $font-weight-light;
  border: 0.1em solid $gray-dark;
  background-color: $gray;
  border-radius: $border-radius;
  grid-row: 1 / 3;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.task-fill {
  width: 100%;
  background-color: $black;
}

.task-status p {
  font-weight: $font-weight-bold;
}

.project-board-task strong {
  font-size: 2em;
  width: 100px;
}

.board-actions {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 3rem;
  gap: 1rem;
}

.board-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 3em 1em 1em 1em;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(to top, $gray, $gray, transparent);
}

.board-footer-button {
  width: 12em;
}

.task-color-1 {
  background: hsla(335, 91%, 70%, 1);
  background: radial-gradient(circle, hsla(335, 91%, 70%, 1) 0%, hsla(49, 89%, 61%, 1) 100%);
}

.task-color-2 {
  background: radial-gradient(circle, #84ffc9 0%, #eca0ff 100%);
}

.task-color-3 {
  background: hsla(335, 91%, 70%, 1);
  background: radial-gradient(circle, #faff89 0%, #ea72ad 100%);
}

.task-color-4 {
  background: hsla(335, 91%, 70%, 1);
  background: radial-gradient(circle, #f9cdc3 0%, #facefb 100%);
}

.task-color-5 {
  background: hsla(335, 91%, 70%, 1);
  background: radial-gradient(circle, #eed991 0%, #ccf7f4 100%);
}

.main-layout {
  padding: 1rem;
}

.project-add-new-container {
  width: 100%;
  height: 3rem;
  position: relative;
  top: -1rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: rebeccapurple;
}

.project-add-new {
  width: 2.5rem;
  height: 2.5rem;
}

.task,
.task-done {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  & input {
    width: 1.5rem;
    border-radius: 0.5rem;
  }
}

.task-done {
  text-decoration: line-through;
  color: $gray-dark;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 0.5rem;

  & h1 {
    margin-bottom: 1rem;
  }
}

.empty-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 5rem;
}

.loader-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
