// Border radius
$border-radius: 0.9em;

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size-p;
  font-weight: $font-weight-light;
  font-family: $font-family;
}

// Headings
h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;
}
h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
}

// Paragraphs
p {
  font-size: $font-size-p;
  font-weight: $font-weight-light;
}

// Small Text
small {
  font-size: $font-size-small;
  font-weight: $font-weight-light;
}

// Strong Text
strong {
  font-size: $font-size-strong;
  font-weight: $font-weight-bold;
}

// Buttons
button {
  font-size: $font-size-p;
  font-weight: $font-weight-regular;
  border-radius: $border-radius;
  background: none;
  border: none;
}

// Input Fields
input {
  width: 20rem;
  height: 3rem;
  border: none;
  border-bottom: 0.1em solid $gray-dark;
  background-color: $gray;
  padding: 0 8px;
  border-radius: $border-radius;
}

// Links
a {
  text-decoration: none;
  color: inherit;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid $gray;
  border-radius: $border-radius;
  padding: 0.15rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; /* don't forget this as well */
}

input[type="checkbox"]:checked {
  background: $gray-dark content-box;
  border-color: $gray-dark;
}
