//  Pallete
$primary-color: #d83f31;
$primary-color-dark: #f95530;

// General colors
$white: #fff;
$black: #000;
$gray: #e6e8e884;
$gray-dark: #999b9b;
$error-text: #e43232;
$error-on-text: #ff000010;
$background-gradient: radial-gradient(
  circle 311px at 8.6% 27.9%,
  #3e93fc91 12.9%,
  #efb7c070 91.2%
);
