// margins and paddings
$box-padding: 3.5rem 3rem;
$box-margin: 3rem 2.5rem;
$MARGIN-3: 3rem;
$MARGIN-2: 2rem;
$MARGIN-1: 1rem;
$PADDING-3: 3rem;
$PADDING-2: 2rem;
$PADDING-1: 1rem;

// flex or grid gap
$BOX-GAP: 24px;

// Widths and heights
$FULL-WIDTH-SCREEN: 100vw;
$FULL-HEIGHT-SCREENt: 100vh;

// Border radius
$BORDER-RADIUS: 0.9em;
