// margins and paddings
$box-padding: 3.5rem 3rem;
$box-margin: 3rem 2.5rem;

$margin-3: 3rem;
$margin-2: 2rem;
$margin-1: 1rem;

$padding-3: 3rem;
$padding-2: 2rem;
$padding-1: 1rem;

// flex or grid gap
$grid-gap: 24px;

// Widths and heights
$full-width: 100vw;
$full-height: 100vh;
