.page404-main-container {
  @include flex-center;
  width: $full-width;
  height: $full-height;
  background-image: $background-gradient;
}

.page404-container-container {
  @include flex-center;
  flex-direction: column;
  max-width: $mobile-view;
  text-align: center;
  background-color: $white;
  padding: $box-padding;
  grid: $grid-gap;

  p {
    margin-top: $margin-1;
  }

  button {
    margin-top: $margin-3;
  }
}

.page404-error-code {
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
  font-family: $font-family;
}

@media screen and (width <= $mobile-view) {
  .page404-container-container {
    min-width: $full-width;
    height: $full-height;
    justify-content: center;
  }
}
